<div class="container">
  <%= form_for @membership, url: {controller: 'memberships', action: 'update'} do |f| %>
      <%= f.hidden_field :id %>
      <div class="input-field">
        <%= f.label :level, "Level" %>
        <%= f.text_field :level %>
      </div>
      <div class="input-field">
        <%= f.label :discount_rate, "Discount Rate" %>
        <%= f.text_field :discount_rate %>
      </div>
      <div class="input-field">
        <%= f.label :mark_boundary, "Mark Boundary" %>
        <%= f.text_field :mark_boundary %>
      </div>
      <%= f.submit value: 'submit', class: 'btn' %>
      <%= link_to 'Back', :back, class: "btn" %>
  <% end %>
</div>