<style>
  a li {
    width: 20px;
  }
</style>
<div>
  <div class="row">
    <div class="fixed-action-btn">
      <%= link_to new_memberships_path, class:'btn-floating red' do %>
          <i class="large material-icons">add</i>
      <% end %>
    </div>
    <%= form_tag(memberships_path, method: :get) do %>
        <div class="col s3">
          <div class="input-field">
            <%= button_tag(style: 'background-color: white; border: none;', class: 'prefix') do %>
                <i class="material-icons" style="margin-top: 10px">search</i>
            <% end %>
            <%= text_field_tag :term, params[:term], id: "search" %>
            <label for="search">Level</label>
          </div>
        </div>
    <% end %>
  </div>
  <table class="highlight responsive-table">
    <thead>
    <th>MARK BOUNDARY</th>
    <th>LEVEl</th>
    <th>DISCOUNT RATE</th>
    <th></th>
    </thead>
    <tbody>
    <% @memberships.each do |membership| %>
        <tr>
          <td><%= membership.mark_boundary %></td>
          <td><%= membership.level %></td>
          <td><%= membership.discount_rate %></td>
          <td>
            <a class="" href="memberships/edit?id=<%= membership.id %>">
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div style="text-align: center">
    <%= will_paginate @discount_days %>
  </div>
</div>