<style>
  a li {
    width: 20px;
  }
</style>
<div class="row" style="text-align: right; margin-bottom: 0;">
  <div class="left" style="margin-left: 1%; font-size: 18px">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s5 right" >
    <div class="input-field" style="margin-top: 0">
      <%= form_tag(memberships_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], style: 'width: 50%;', placeholder: 'Search', data: { autocomplete_source: Membership.order(:level).map(&:level)} %>
          <button type="submit" class="btn-floating waves-effect waves-light">
            <i class="material-icons">search</i>
          </button>
          <%= link_to new_memberships_path, data: {turbolinks: false} do %>
              <input type="button" class="btn" value="Add">
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div style="padding: 0 1%;">
  <% if !@memberships.nil? && @memberships.size > 0 %>
      <table class="bordered striped">
        <thead>
        <th>Mark Boundary</th>
        <th>Level</th>
        <th>Discount Rate</th>
        <th></th>
        </thead>
        <tbody>
        <% @memberships.each do |membership| %>
            <tr>
              <td><%= membership.mark_boundary %></td>
              <td><%= membership.level %></td>
              <td><%= membership.discount_rate %></td>
              <td>
                <a class="" href="memberships/edit?id=<%= membership.id %>">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="center">
        <%= will_paginate @memberships %>
      </div>
  <% elsif !params[:term].nil? %>
      <h3 style="text-align: center">No Membership Found</h3>
  <% end %>
</div>

<script>
    function changeStatus(dish_id) {
        $.ajax({
            url: 'dishes/updateStatus.json',
            dataType: 'json',
            data: {
                id: dish_id
            }
        })
    }
    $('#term').autocomplete({
        source: $('#term').data('autocomplete-source')
    });
</script>
