<style>
  a li {
    width: 20px;
  }
</style>
<div class="fixed-action-btn">
  <a data-target="modal1" class="btn-floating red">
    <i class="large material-icons">add</i>
  </a>
</div>
<div style="padding: 0 1%;">
  <div id="modal1" class="modal modal-fixed-footer">
    <%= form_for(:membership, remote: true) do |f| %>
        <div class="modal-content">
          <h4 style="text-align: center">New Membership</h4>

          <div class="input-field">
            <%= f.label :level, "Level" %>
            <%= f.text_field :level %>
          </div>
          <div class="input-field">
            <%= f.label :discount_rate, "Discount Rate" %>
            <%= f.text_field :discount_rate %>
          </div>
          <div class="input-field">
            <%= f.label :mark_boundary, "Mark Boundary" %>
            <%= f.text_field :mark_boundary %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit value: 'INSERT', class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
        </div>
    <% end %>
  </div>


  <table class="highlight" id="memberships">
    <thead>
    <th>MARK BOUNDARY</th>
    <th>LEVEl</th>
    <th>DISCOUNT RATE</th>
    <th></th>
    </thead>
    <tbody>
    <% @memberships.each do |membership| %>
        <tr>
          <td><%= membership.mark_boundary %></td>
          <td><%= membership.level %></td>
          <td><%= membership.discount_rate %></td>
          <td>
            <a class="" href="memberships/edit?id=<%= membership.id %>">
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
    $(document).on('turbolinks:load', function () {
        $('#memberships').dataTable()
        $('select').material_select();
    });
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>