<div class="container">
  <%= form_for @price_change_history, url: {controller: 'price_change_histories', action: 'update'} do |f| %>
      <%= f.hidden_field :id %>
      <div class="input-field">
        <%= collection_select :price_change_history, :dish_id, Dish.all, :id, :dish_name, prompt: true %>
        <label>Dish Name</label>
      </div>
      <div class="input-field">
        <%= f.label :price, "Dish Price" %>
        <%= f.text_field :price %>
      </div>
      <div class="input-field">
        <%= f.label :from_date, "From Date" %>
        <%= f.date_field :from_date, class: "datepicker" %>
      </div>
      <%= f.submit value: 'submit', class: 'btn' %>
      <%= link_to 'Back', price_change_histories_path, class: "btn" %>
  <% end %>
</div>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 50, // Creates a dropdown of 15 years to control year
    });
</script>