<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
</div>
<div class="container">
  <div class="card">
    <%= form_for @price_change_history do |f| %>
        <div class="card-content">
          <span class="card-title">New Price</span>
          <div class="row">
            <div class="input-field col s6">
              <%= collection_select :price_change_history, :dish_id, Dish.all, :id, :dish_name, prompt: true %>
              <label id="dish_name_label">Dish Name *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :price, "Dish Price *" %>
              <%= f.text_field :price, required: true, placeholder: 'Dish Price' %>
            </div>
            <div class="input-field col s6">
              <%= f.label :from_date, "From Date *" %>
              <%= f.date_field :from_date, class: "datepicker", required: true, placeholder: 'From Date' %>
            </div>
          </div>

          <%= link_to 'Back', price_change_histories_path, class: "btn" %>
          <%= f.submit value: 'Add', class: 'btn' %>
        </div>
    <% end %>
  </div>
</div>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
//    $('#price_change_history_dish_id').on('change', function () {
//        if ($.isNumeric($('#price_change_history_dish_id').val())){
//            $('#dish_name_label').css('color', 'black');
//        }
//    });
//    $("form").submit(function (e) {
//        var check = true;
//        if (!$('#price_change_history_from_date').val()) {
//            check = false;
//        }
//        if (!$.isNumeric($('#price_change_history_dish_id').val())) {
//            $('#dish_name_label').css('color', 'red');
//            check = false;
//        }
//        if (check) {
//            e.submit()
//        }
//    });
</script>