<style>
  a li {
    width: 20px;
  }
</style>
<div class="row" style="text-align: right; margin-bottom: 0;">
  <div class="left" style="margin-left: 1%; font-size: 18px">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s5 right" >
    <div class="input-field" style="margin-top: 0">
      <%= form_tag(price_change_histories_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], style: 'width: 50%;', placeholder: 'Search', data: { autocomplete_source: Dish.order(:dish_name).map(&:dish_name)} %>
          <button type="submit" class="btn-floating waves-effect waves-light">
            <i class="material-icons">search</i>
          </button>
          <%= link_to new_price_change_histories_path, data: {turbolinks: false} do %>
              <input type="button" class="btn" value="Add">
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<div style="padding: 0 1%;">
  <% if !@price_change_histories.nil? && @price_change_histories.size > 0 %>
      <table class="highlight">
        <thead>
        <th>Dish Name</th>
        <th>Price</th>
        <th>From Day</th>
        <th style="text-align: center">Status</th>
        <th></th>
        </thead>
        <tbody>
        <% @price_change_histories.each do |price| %>
            <tr>
              <td><%= price.dish.dish_name %></td>
              <td><%= price.price %></td>
              <td><%= price.from_date %></td>
              <td style="text-align: center;">
                <p>
                  <%= check_box_tag price.id, price.status, price.status, onclick: "changeStatus(#{price.id})" %>
                  <label for="<%= price.id %>" id="label<%= price.id %>">
                  </label>
                </p>
              </td>
              <td>
                <a class="" href="price_change_histories/edit?id=<%= price.id %>">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="center">
        <%= will_paginate @price_change_histories %>
      </div>
  <% elsif !params[:term].nil? %>
      <h3 style="text-align: center">No Price History Found</h3>
  <% end %>
</div>
<script>
  function changeStatus(id) {
      $.ajax({
          url: 'price_change_histories/updateStatus.json',
          dataType: 'json',
          data: {
              id: id
          }
      })
  };
  $('#term').autocomplete({
      source: $('#term').data('autocomplete-source')
  });
</script>