<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
</div>
<div class="container">
  <div class="card">
    <%= form_for @discount_day do |f| %>
        <div class="card-image" style="background-color: gray" id="image">
          <img src="http://www.rtings.com/images/test-materials/2015/204_Gray_Uniformity.png" id="tmpImage">
          <span class="card-title">Discount Image</span>
          <a id="float" class="btn-floating" style="position: absolute; top: 50%; left: 50%; background-color: transparent; box-shadow: none;"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <%= f.file_field :image, style: 'display: none;', onchange: 'readURL(this)' %>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :name, "Discount Name" %>
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :from_day, "From Day" %>
              <%= f.date_field :from_day, class: "datepicker" %>
            </div>
            <div class="input-field col s6">
              <%= f.label :to_day, "To Day" %>
              <%= f.date_field :to_day, class: "datepicker" %>
            </div>
          </div>
          <div class="row">
            <%= f.hidden_field :discount_item %>
            <div class="input-field col s6">
              <select multiple name="discount_item" id="discount_item" onchange="onSelected()">
                <option selected disabled>Select Discount Item</option>
                <%= Dish.all.each do |dish| %>
                    <option value="<%= dish.id %>"><%= dish.dish_name %></option>
                <% end %>
              </select>
              <label>Discount Item</label>
            </div>
            <div class="input-field col s6">
              <%= f.label :discount_rate, "Discount Rate" %>
              <%= f.text_field :discount_rate %>
            </div>
          </div>
          <%= link_to 'Back', discount_days_path, class: "btn" %>
          <%= f.submit value: 'Add', class: 'btn' %>
        </div>
    <% end %>
  </div>
</div>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    function onSelected() {
        var items = $('#discount_item').val();
        $('#discount_day_discount_item').val(items);
    }
    $('#image').click(function () {
        $('#discount_day_image').trigger('click');
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#tmpImage')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
            $('#float').css('display', 'none');
        }
    }
</script>