<style>
  a li {
    width: 20px;
  }
</style>
<div>

    <div class="fixed-action-btn">
      <%= link_to new_discount_days_path, class:'btn-floating red' do %>
          <i class="large material-icons">add</i>
      <% end %>
    </div>


  </div>
  <table class="highlight responsive-table" id="discount_days">
    <thead>
    <th>FROM DAY</th>
    <th>TO DAY</th>
    <th>DISCOUNT ITEM</th>
    <th>DISCOUNT RATE</th>
    <th></th>
    </thead>
    <tbody>
    <% @discount_days.each do |discount_day| %>
        <tr>
          <td><%= discount_day.from_day %></td>
          <td><%= discount_day.to_day %></td>
          <td><%= discount_day.discount_item %></td>
          <td><%= discount_day.discount_rate %></td>
          <td>
            <a href="discount_days/edit?id=<%= discount_day.id %>">
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>
<script>
    $( document ).on('turbolinks:load', function() {
        $('#discount_days').dataTable()
        $('select').material_select();
    });
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 50, // Creates a dropdown of 15 years to control year
    });
</script>