<style>
  a li {
    width: 20px;
  }
</style>
<div class="row" style="text-align: right; margin-bottom: 0;">
  <div class="left" style="margin-left: 1%; font-size: 18px">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s7 right">
    <div class="input-field" style="margin-top: 0">
      <%= form_tag(discount_days_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], style: 'width: 70%;', placeholder: 'Search', data: {autocomplete_source: DiscountDay.order(:name).map(&:name)} %>
          <button type="submit" class="btn-floating waves-effect waves-light">
            <i class="material-icons">search</i>
          </button>
          <%= link_to new_discount_days_path, data: {turbolinks: false} do %>
              <input type="button" class="btn" value="Add">
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div style="padding: 0 1%;">
  <% if !@discount_days.nil? && @discount_days.size > 0 %>
      <table class="bordered striped">
        <thead>
        <th>Discount Name</th>
        <th>From Day</th>
        <th>To Day</th>
        <th style="width: 500px; text-align: center">Discount Item</th>
        <th>Discount Rate</th>
        <th></th>
        </thead>
        <tbody>
        <% @discount_days.each do |discount_day| %>
            <tr>
              <td><%= discount_day.name %></td>
              <td><%= discount_day.from_day %></td>
              <td><%= discount_day.to_day %></td>
              <td>
                <% discount_item_id = discount_day.discount_item.split(',') %>
                <% discount_item_id.each do |item| %>
                    <%= Dish.find(item).dish_name %>,
                <% end %>
              </td>
              <td><%= discount_day.discount_rate %></td>
              <td>
                <a href="discount_days/edit?id=<%= discount_day.id %>">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="center">
        <%= will_paginate @discount_days %>
      </div>
  <% elsif !params[:term].nil? %>
      <h3 style="text-align: center">No Discount Day Found</h3>
  <% end %>
</div>
<script>
    $('#term').autocomplete({
        source: $('#term').data('autocomplete-source')
    });
</script>