<style>
  label {
    font-weight: bold;
  }
</style>
<div id="unclose_modal" class="modal" style="top: 40%">
  <div class="modal-content" style="text-align: center;">
    <h5>Please Wait...</h5>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s5 right">
    <div class="input-field" style="margin-top: 0">
      <%= form_tag(rejected_order_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], style: 'width: 80%;', placeholder: 'Search', class: 'datepicker', id: "date_search" %>
          <button type="submit" class="btn-floating waves-effect waves-light" onclick="update_notification()">
            <i class="material-icons">search</i>
          </button>
      <% end %>
    </div>
  </div>
</div>
<div style="padding: 0% 5%">
  <% if !@orders.nil? && @orders.size > 0 %>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Rejected Order</span>
          <table id="table" class="bordered striped">
            <thead>
            <th style="text-align: center; width: 15%">Table Number</th>
            <th style="text-align: center; width: 55%">Order Detail</th>
            <th style="text-align: center">Total</th>
            <th></th>
            </thead>
            <tbody id="tbody">
            <% @orders.each do |order| %>
                <% dish_name = Array.new %>
                <% total = 0 %>
                <% order.order_details.each do |o| %>
                    <% if o.cooking_status == 3 %>
                        <% dish_name.push("#{o.dish.dish_name} x #{o.quantity_not_serve}") %>
                        <% total += (o.price * o.quantity_not_serve) %>
                    <% end %>
                <% end %>
                <tr>
                  <td style="text-align: center"><%= order.table_number %></td>
                  <td><%= dish_name.join(", ") %></td>
                  <td style="text-align: center"><%= "#{number_to_currency(total, unit: '', precision: 0)} VND" %></td>
                  <td>
                    <a href="refund?order_id=<%= order.id %>" onclick="$('#unclose_modal').modal('open');">
                      <button class="btn red" data-disable-with="Loading...">Refund</button>
                    </a>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% elsif !params[:term].nil? %>
      <h5 id="available" style="text-align: center;">Not Available</h5>
  <% end %>
</div>
<script>
    var $input = $('.datepicker').pickadate({
        format: 'dd/mm/yyyy',
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>