<style>
  label {
    font-weight: bold;
  }
</style>
<div id="unclose_modal" class="modal">
  <div class="modal-content" style="text-align: center;">
    <h5>Please Wait...</h5>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
  <form action="executeSendMoney" method="post">
    <div class="modal-content">
      <h4 class="center">Send Money</h4>
      <input type="hidden" name="order_id" id="order_id">
      <div class="input-field" style="width: 50%">
        <label for="receiverEmail">Receiver Email</label>
        <input type="text" id="receiverEmail" name="receiverEmail" placeholder="Email" readonly>
      </div>
      <div class="input-field">
        <label for="receiverEmail">Amount</label>
        <input type="number" name="amount" placeholder="Amount" style="width: 50%" min="0" max="10000000">VND
      </div>
      <div class="input-field">
        <textarea id="textarea1" class="materialize-textarea" name="note" placeholder="Note"></textarea>
        <label for="textarea1">Note</label>
      </div>
    </div>
    <div class="modal-footer">
      <input type="button" class="modal-action modal-close btn-flat" value="cancel">
      <input type="submit" class="modal-action btn-flat" value="send">
    </div>
  </form>
</div>
<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s8 right">
    <div class="input-field" style="margin-top: 0">
      <%= form_tag(send_money_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], style: 'width: 45%;', placeholder: 'Date', class: 'datepicker', id: "date_search" %>
          <%= text_field_tag :username, params[:username], style: 'width: 45%;', placeholder: 'Username' %>
          <button type="submit" class="btn-floating waves-effect waves-light" onclick="update_notification()">
            <i class="material-icons">search</i>
          </button>
      <% end %>
    </div>
  </div>
</div>
<div style="padding: 0% 5%">
  <% if !@orders.nil? && @orders.size > 0 %>
      <div class="card">
        <div class="card-content">
          <span class="card-title">All Orders</span>
          <table id="table" class="bordered striped">
            <thead>
            <th style="text-align: center; width: 15%">Table Number</th>
            <th style="text-align: center; width: 55%">Order Detail</th>
            <th style="text-align: center">Total</th>
            <th></th>
            </thead>
            <tbody id="tbody">
            <% @orders.each do |order| %>
                <% dish_name = Array.new %>
                <% total = 0 %>
                <% order.order_details.each do |o| %>
                    <% dish_name.push("#{o.dish.dish_name} x #{o.quantity}") %>
                <% end %>
                <tr>
                  <td style="text-align: center"><%= order.table_number %></td>
                  <td><%= dish_name.join(", ") %></td>
                  <td style="text-align: center"><%= "#{number_to_currency(order.total, unit: '', precision: 0)} VND" %></td>
                  <td>
                    <button class="btn red" onclick="getEmail(<%= order.id%>)">Send</button>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  <% elsif !params[:term].nil? %>
      <h5 id="available" style="text-align: center;">Not Available</h5>
  <% end %>
</div>
<script>
    var $input = $('.datepicker').pickadate({
        format: 'dd/mm/yyyy',
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    function getEmail(order_id) {
        $('#unclose_modal').modal('open');
        $.ajax({
            url: 'getEmail',
            dataType: 'json',
            data: {
                order_id: order_id
            },
            success: function (data) {
                $('#unclose_modal').modal('close');
                $('#receiverEmail').val(data.email);
                $('#order_id').val(data.order_id);
                $('#modal1').modal('open');
            }
        })
    }
</script>