<style>
  a li {
    width: 20px;
  }
</style>

<div style="padding: 0 1%;">
  <table class="highlight" id="data_tables" >
    <thead>
    <th>USERNAME</th>
    <th>FULLNAME</th>
    <th>EMAIL</th>
    <th>ROLE</th>
    <th></th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name %></td>
          <td>
            <a href="users/edit?id=<%= user.id %>">
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>