<style>
  a li {
    width: 20px;
  }
</style>
<div>
  <div class="row">
    <div class="col s1" style="padding-top: 2%">
      <%= link_to controller: 'users', action: 'new' do %>
          <button class="btn">
            ADD
          </button>
      <% end %>
    </div>
    <%= form_tag(users_path, method: :get) do %>
        <div class="col s1" style="padding-top: 2%; margin-right: 3%">
          <%= submit_tag 'Search', class: "btn" %>
        </div>
        <div class="col s3">
          <div class="input-field">
            <%= text_field_tag :term, params[:term], id: "search" %>
            <label for="search">Full Name</label>
          </div>
        </div>
    <% end %>
  </div>
  <table class="highlight responsive-table">
    <thead>
    <th>USERNAME</th>
    <th>FULLNAME</th>
    <th>ROLE</th>
    <th></th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.full_name %></td>
          <td><%= user.role.name %></td>
          <td>
            <a class="btn-floating btn-large red" href="users/edit?id=<%= user.id %>">
              <i class="large material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div style="text-align: center">
    <%= will_paginate @users %>
  </div>

</div>