<style>
  button a:link, button a:visited {
    color: white !important;
  }

  a li {
    width: 20px;
  }
</style>
<div>

  <div class="row">
    <div class="fixed-action-btn">
      <%= link_to new_tables_path, class:'btn-floating red' do %>
          <i class="large material-icons">add</i>
      <% end %>
    </div>
    <%= form_tag(tables_path, method: :get) do %>
        <div class="col s3">
          <div class="input-field">
            <%= button_tag(style: 'background-color: white; border: none;', class: 'prefix') do %>
                <i class="material-icons" style="margin-top: 10px">search</i>
            <% end %>
            <%= text_field_tag :term, params[:term], id: "search" %>
            <label for="search">Number</label>
          </div>
        </div>
    <% end %>
  </div>
  <table class="highlight responsive-table">
    <thead>
    <th>NUMBER</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <% @tables.each do |table| %>
        <tr>
          <td><%= table.table_number %></td>
          <td>
            <a href="/tables/edit.json?id=<%= table.id %>" target="_blank" class="waves-effect waves-light btn">
              <i class="material-icons left">play_for_work</i>Download
            </a>
          </td>
          <td>
            <a  href="tables/edit?id=<%= table.id %>">
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div style="text-align: center">
    <%= will_paginate @tables %>
  </div>
</div>