<style>
  a li {
    width: 20px;
  }
</style>
<div class="row" style="text-align: right; margin-bottom: 0;">
  <div class="left" style="margin-left: 1%; font-size: 18px">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s5 right" >
    <div class="input-field" style="margin-top: 0">
      <%= form_tag(tables_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], style: 'width: 50%;', placeholder: 'Search', data: { autocomplete_source: Table.order(:table_number).map(&:table_number)} %>
          <button type="submit" class="btn-floating waves-effect waves-light">
            <i class="material-icons">search</i>
          </button>
          <%= link_to new_tables_path, data: {turbolinks: false} do %>
              <input type="button" class="btn" value="Add">
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<div style="padding: 0 1%;">
  <% if !@tables.nil? && @tables.size > 0 %>
      <table class="highlight">
        <thead>
        <th>Table Number</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <% @tables.each do |table| %>
            <tr>
              <td><%= table.table_number %></td>
              <td>
                <a href="/tables/edit.json?id=<%= table.id %>" target="_blank" class="waves-effect waves-light btn">
                  <i class="material-icons left">get_app</i>Download
                </a>
              </td>
              <td>
                <a href="tables/edit?id=<%= table.id %>">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="center">
        <%= will_paginate @tables %>
      </div>
  <% elsif !params[:term].nil? %>
      <h3 style="text-align: center">No Table Found</h3>
  <% end %>
</div>
<script>
    $('#term').autocomplete({
        source: $('#term').data('autocomplete-source')
    });
</script>