<div style="padding: 5%;">
  <%= form_for @dish, url: {controller: 'dishes', action: 'update'} do |f| %>
      <%= f.hidden_field :id %>
      <div class="input-field">
        <%= f.label :dish_name, "Dish Name" %>
        <%= f.text_field :dish_name %>
      </div>
      <div class="input-field">
        <%= f.label :description, "Description" %>
        <%= f.text_field :description %>
      </div>
      <div class="input-field">
        <%= collection_select :dish, :category_id, Category.all, :id, :category_name, prompt: true %>
        <label>Category</label>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>Image</span>
          <%= f.file_field :image %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <%= f.submit value: 'submit', class: 'btn' %>
      <%= link_to 'Back', :back, class: "btn" %>
  <% end %>
</div>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>