<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <div class="card">
      <div class="card-image" style="background-color: gray; min-height: 250px" id="image">
        <img src="http://www.rtings.com/images/test-materials/2015/204_Gray_Uniformity.png" id="tmpImage" style="min-height: 250px; max-height: 250px">
        <span class="card-title">Dish Image</span>
        <a id="float" class="btn-floating" style="position: absolute; top: 45%; left: 45%; background-color: transparent; box-shadow: none;"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div class="card">
      <%= form_for @dish do |f| %>
          <div class="card-content">
            <span class="card-title">Dish Info</span>
            <%= f.file_field :image, style: 'display: none;', onchange: 'readURL(this)' %>
            <%= f.hidden_field :id %>
            <div class="input-field">
              <%= f.label :dish_name, "Dish Name *" %>
              <%= f.text_field :dish_name, style: 'width: 50%', placeholder: 'Dish Name', required: 'true' %>
            </div>
            <div class="input-field">
              <%= f.text_area :description, class: 'materialize-textarea' %>
              <%= f.label :description, "Description" %>
            </div>
            <div class="row">
              <div class="col s6" style="padding-left: 0">
                <div class="input-field">
                  <%= collection_select :dish, :category_id, Category.all, :id, :category_name, prompt: true %>
                  <label>Category</label>
                </div>
              </div>
              <div class="col s6" style="padding-left: 0">
                <div class="input-field">
                  <% if @dish.status == true %>
                      <%= f.select :status, options_for_select([["Enable", true], ["Disable", false]]) %>
                  <% else %>
                      <%= f.select :status, options_for_select([["Enable", true], ["Disable", false]], selected: false) %>
                  <% end %>
                  <label>Status</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s6" style="padding-left: 0">
                <div class="input-field">
                  <%= collection_select :dish, :material_id, Material.all, :id, :name, prompt: true %>
                  <label>Material *</label>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 3%">
              <p>
                <input type="checkbox" name="isSocial" id="isSocial">
                <label for="isSocial">Post to Social Network</label>
              </p>
            </div>
            <%= link_to 'Back', dishes_path, class: "btn", data: {turbolinks: false} %>
            <%= f.submit value: 'Add', class: 'btn' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    $('#image').click(function () {
        $('#dish_image').trigger('click');
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#tmpImage')
                    .attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
            $('#float').css('display', 'none');
        }
    }
</script>