<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
</div>
<div class="container">
  <div class="card">
    <%= form_for @category, url: {controller: 'categories', action: 'update'} do |f| %>
        <%= f.hidden_field :id %>
        <div class="card-content">
          <span class="card-title">Update Category</span>
          <div class="input-field" style="margin-top: 5%;">
            <%= f.label :category_name, "Category Name" %>
            <%= f.text_field :category_name, style: 'width: 50%;', placeholder: 'Category Name' %>
          </div>
          <%= link_to 'Back', categories_path, class: "btn" %>
          <%= f.submit value: 'Update', class: 'btn' %>
        </div>
    <% end %>
  </div>
</div>