<style>
  label {
    font-weight: bold;
  }
</style>
<div id="unclose_modal" class="modal">
  <div class="modal-content" style="text-align: center;">
    <h5>Please Wait...</h5>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="left" style="margin-left: 1%; font-size: 18px;">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="col s6 right">
    <div class="input-field" style="margin-top: 0">
      <%= form_tag(current_order_path, method: :get) do %>
          <%= text_field_tag :term, params[:term], style: 'width: 60%;', placeholder: 'Search', data: {autocomplete_source: Dish.order(:dish_name).map(&:dish_name)} %>
          <div class="col s3">
            <select name="type" onchange="onSelectType()" id="type">
              <% if params[:type] == "dish" %>
                  <option value="dish" selected>Username</option>
              <% else %>
                  <option value="dish">Username</option>
              <% end %>
              <% if params[:type] == "table" %>
                  <option value="table" selected>Table</option>
              <% else %>
                  <option value="table">Table</option>
              <% end %>
            </select>
          </div>
          <button type="submit" class="btn-floating waves-effect waves-light">
            <i class="material-icons">search</i>
          </button>
      <% end %>
    </div>
  </div>
</div>
<div style="padding: 0% 5%">
  <% if (!@orders.nil? && @orders.size > 0) || (!@order_details.nil? && @order_details.size > 0) %>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Current Order</span>
          <% if params[:type] == "table" %>
              <table id="table" class="bordered striped">
                <thead>
                <th style="text-align: center;">User</th>
                <th style="text-align: center;">Dish</th>
                <th style="text-align: center;">Quantity</th>
                <th></th>
                </thead>
                <tbody id="tbody">
                <% @order_details.each do |order_detail| %>
                    <tr>
                      <td style="text-align: center"><%= order_detail.order.user.username %></td>
                      <td style="text-align: center"><%= order_detail.dish.dish_name %></td>
                      <td style="text-align: center"><%= order_detail.quantity_not_serve %></td>
                      <td style="text-align: center">
                        <a href="cancel_order?order_detail_id=<%= order_detail.id %>&term=<%= params[:term] %>&type=<%= params[:type] %>" onclick="$('#unclose_modal').modal('open');">
                          <input type="button" value="cancel" class="btn red">
                        </a>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% elsif params[:type] == "dish" %>
              <table id="table" class="bordered striped">
                <thead>
                <th style="text-align: center; width: 15%">Table Number</th>
                <th style="text-align: center;">Dish</th>
                <th style="text-align: center;">Quantity</th>
                <th></th>
                </thead>
                <tbody id="tbody">
                <% @order_details.each do |order_detail| %>
                    <tr>
                      <td style="text-align: center"><%= order_detail.order.table_number %></td>
                      <td style="text-align: center"><%= order_detail.dish.dish_name %></td>
                      <td style="text-align: center"><%= order_detail.quantity_not_serve %></td>
                      <td style="text-align: center">
                        <a href="cancel_order?order_detail_id=<%= order_detail.id %>&term=<%= params[:term] %>&type=<%= params[:type] %>" onclick="$('#unclose_modal').modal('open');">
                          <input type="button" value="cancel" class="btn red">
                        </a>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
        </div>
      </div>
  <% elsif !params[:term].nil? %>
      <h5 id="available" style="text-align: center;">Not Available</h5>
  <% end %>
</div>
<script>
    $('#term').autocomplete({
        source: $('#term').data('autocomplete-source')
    });

    function onSelectType() {
        var selected = $('#type').find(":selected").text();
        if (selected == "Dish") {
            $('#term').autocomplete({
                source: $('#term').data('autocomplete-source')
            });
        } else {
            console.log("destroy");
            $('#term').autocomplete({disabled: true});
        }
    }
</script>