<!DOCTYPE html>
<html>
<head>
  <title>MobileApi</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.gstatic.com/firebasejs/4.1.3/firebase.js" %>
  <%= javascript_include_tag "https://www.gstatic.com/firebasejs/4.1.2/firebase-messaging.js" %>
  <%= javascript_include_tag "chartkick" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>


<% if session[:user_id].nil? %>

    <header>
      <nav class="top-nav">
        <div class="nav-wrapper" style="background-color: #26a69a">
          <a href="#" class="brand-logo">LOGO</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="row">
        <div class="col s8 offset-s2">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="page-footer" style="background-color: #26a69a; padding-top: 0;">
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Boe team
        </div>
      </div>
    </footer>

<% else %>
    <header style="padding-left: 250px">
      <nav class="top-nav">
        <div class="nav-wrapper" style="background-color: #26a69a">
          <% if session[:user_id].nil? %>
          <% else %>
              <ul class="left">
                <li>
                  <a href="#">LOGO</a>
                </li>
              </ul>
              <ul class="right">
                <% if session[:role]== 'manager' %>
                    <li>
                      <a onclick="updateNumber()" class="dropdown-button" data-beloworigin="true"
                         constrainWidth="false" data-activates="notification_dropdown"><i class="material-icons">notifications</i></a>
                      <div style="display: none;font-size: small;position: absolute; z-index: 0; background-color: red; color: white; padding: 9px 4px; height: 3px; top: 20%; right: 5.5%;" class="valign-wrapper"
                           id="notification_num"></div>
                    </li>
                    <ul id="notification_dropdown" class="dropdown-content" style="min-width: 350px; left: 700px">
                    </ul>
                <% end %>
                <li>
                  <%= link_to logout_path, method: :delete do %>
                      <i class="material-icons">exit_to_app</i>
                  <% end %>
                </li>
              </ul>
              <ul class="center" style="font-size: 150%">BOE SYSTEM</ul>
          <% end %>
        </div>
      </nav>

      <ul class="side-nav fixed" style="width: 250px; background-color: white; -webkit-box-shadow: 4px 0 5px -2px #888; box-shadow: 4px 0 5px -2px #888;">
        <li>
          <div class="userView">
            <div class="background">
              <img src="http://materializecss.com/images/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="<%= session[:avatar] %>"></a>
            <a href="#!name"><span class="white-text name"><%= session[:full_name] %></span></a>
            <a href="#!email"><span class="white-text email"><%= session[:email] %></span></a>
          </div>
        </li>
        <% if session[:role] == 'admin' %>
            <li class="no-padding">
              <%= link_to users_path do %>
                  <i class="material-icons" style="margin-right: 10px">supervisor_account</i><span>Users</span>
              <% end %>
            </li>
        <% else %>
            <li class="no-padding">
              <%= link_to root_path do %>
                  <i class="material-icons" style="margin-right: 10px">home</i><span>Home</span>
              <% end %>
            </li>
            <li>
              <div class="divider"></div>
            </li>
            <li class="no-padding" style="height: 5%;"><a href="#">MANAGE</a></li>
            <li class="no-padding">
              <%= link_to current_order_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">list</i><span>Current Orders</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to send_money_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">local_post_office</i><span>Indemnity</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to vouchers_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">credit_card</i><span>Prepaid Code</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to balance_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">account_balance_wallet</i><span>Users Balance</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to allowances_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">local_atm</i><span>Allowances</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to feed_backs_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">feedback</i><span>FeedBack</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to dashboard_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">dashboard</i><span>Dashboard</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to dishes_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">restaurant_menu</i><span>Dishes</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to tables_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">event_seat</i><span>Tables</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to price_change_histories_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">attach_money</i><span>Prices</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to categories_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">loyalty</i><span>Categories</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to materials_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">room_service</i><span>Materials</span>
              <% end %>
            </li>
            <li class="no-padding">
              <%= link_to scheduler_path, data: {turbolinks: false} do %>
                  <i class="material-icons" style="margin-right: 10px">schedule</i><span>Scheduler</span>
              <% end %>
            </li>
        <% end %>
      </ul>
    </header>
    <main style="padding-left: 250px">
      <div style="margin-bottom: 2%; margin-top: 1%;">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer" style="background-color: #26a69a; padding-top: 0; padding-left: 250px">
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Boe team
        </div>
      </div>
    </footer>
<% end %>
</body>
</html>
<script>
    function appendNotification(text) {
        $('#notification_dropdown').prepend('<li><a href="<%= rejected_order_path %>">' + text + ' was rejected</a></li>')
    }

    var config = {
        apiKey: "AIzaSyB9OrnpLwPlNy3ldhwfb5BMS2PRAV1o9j4",
        authDomain: "boebackend.firebaseapp.com",
        databaseURL: "https://boebackend.firebaseio.com",
        projectId: "boebackend",
        storageBucket: "boebackend.appspot.com",
        messagingSenderId: "827854885414"
    };
    firebase.initializeApp(config);
    const notification = firebase.database().ref().child('number');
    notification.on('value', function (snapshot) {
        var num = snapshot.val();
        if (num != 0) {
            $('#notification_num').css('display', '');
            $('#notification_num').html(num);
        } else {
            $('#notification_num').css('display', 'none');
        }

    });

    function updateNumber() {
        var update = {};
        update['/number'] = 0;
        firebase.database().ref().update(update);
    }
</script>